camel-service-gateway/src/main/resources/wsdl/GreetingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.gateway.service.navaco.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GreetingServiceImplService" targetNamespace="http://service.gateway.service.navaco.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.gateway.service.navaco.com/" elementFormDefault="unqualified" targetNamespace="http://service.gateway.service.navaco.com/" version="1.0">
            <xs:element name="Greeting" type="tns:greeting"/>
            <xs:element name="sayBye" type="tns:sayBye"/>
            <xs:element name="sayByeResponse" type="tns:sayByeResponse"/>
            <xs:element name="sayHello" type="tns:sayHello"/>
            <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"/>
            <xs:complexType name="sayHello">
                <xs:sequence>
                    <xs:element minOccurs="0" name="GreetingsRequest" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHelloResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Greeting" type="tns:greeting"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="greeting">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayBye">
                <xs:sequence>
                    <xs:element minOccurs="0" name="GreetingsRequest" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayByeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Greeting" type="tns:greeting"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sayHello">
        <wsdl:part element="tns:sayHello" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHelloResponse">
        <wsdl:part element="tns:sayHelloResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayByeResponse">
        <wsdl:part element="tns:sayByeResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayBye">
        <wsdl:part element="tns:sayBye" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GreetingService">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:sayHello" name="sayHello"> </wsdl:input>
            <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayBye">
            <wsdl:input message="tns:sayBye" name="sayBye"> </wsdl:input>
            <wsdl:output message="tns:sayByeResponse" name="sayByeResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GreetingServiceImplServiceSoapBinding" type="tns:GreetingService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sayBye">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayBye">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayByeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GreetingServiceImplService">
        <wsdl:port binding="tns:GreetingServiceImplServiceSoapBinding" name="GreetingServiceImplPort">
            <soap:address location="http://localhost:8094/services/GreetingService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>